/* Keyframes */

@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: gold;
        font-weight: 500px;
    }
}

@keyframes text_reveal_box{
    50%{
        width:100%;
        left:0;
    }
    100%{
        width: 0;
        left:100%
    }
}

/* Media Query */
@media only screen and (min-width: 768px) {
    #portfolio .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #portfolio .project-item:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    #portfolio .project-item:last-of-type {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px; 
    }

    #portfolio .all-projects .project-info{
        height: 100%
    }
    #portfolio .all-projects .project-img{
        height: 100%
    }
    #portfolio .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }


}