@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Seção de Portifólio*/
#portfolio .portfolio{
    flex-direction: column;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

#portfolio .portfolio .header{
    padding: 60px 0px;
}
.header .section-title{
    text-shadow: 4px 4px 2px #aaa;
}

#portfolio .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#portfolio .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #2fcf3d 0%, #002349 100%);
    color: white;
}

#portfolio .project-info h1 {
    font-size: 3rem;
    font-weight: 500px;
    letter-spacing: 3px;
}

#portfolio .project-info p {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    letter-spacing: .15rem;
}

#portfolio .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}

#portfolio .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#portfolio .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
}
#portfolio .project-img img{
    transition: 0.5 ease transform;
}
#portfolio .project-item:hover .project-img img{
    transform: scale(1.1);
}

